.save-btn {
    position: fixed;
    top: 0;
    left: 0;
    margin: .5rem;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: hsl(15, 0%, 0%);

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 1000px;
    aspect-ratio: 1;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;

    background-color: hsl(0, 0%, 15%);
}

.btn {
    --offset-each: 30px;
    position: fixed;
    right: 10px;
    top: calc(10px + var(--offset-each) * var(--n))
}

.btn1 { --n: 1 }
.btn2 { --n: 2 }
.btn3 { --n: 3 }
.btn4 { --n: 4 }

.save-btn,
.capture-btn {
    position: absolute;
    top: 0;
    left: 0;

    &.capture-btn {
        top: 2.5rem;
    }
}